<main class="mainContent">
    <aside class="blueBar">
        <app-aside-icons class="w-100 h-100 d-flex"></app-aside-icons>
    </aside>
    @if (true) {
        <aside class="detailsBar"><i class="pi pi-check"></i></aside>
    }
    <section class="dataSection">
        <article class="dataInfo">
            <nav class="stickyNav">ff</nav>
            <nav class="infoNav">ff</nav>
        </article>
        <article class="tasksColumns">
            <div class="columns"></div>
            <div class="columns"></div>
            <div class="columns"></div>
        </article>
        <article class="dataInfo">
            <nav class="stickyNav">ff</nav>
        </article>
    </section>
</main>
